<div class="inner-content">
      <form class="create-comment">
        <label>Comment</label>  
        <input type="comment" id="post-comment" placeholder="I have really loved learning how to manage data in a SQL database." />
        <button type="submit">Submit</button>
      </form>
    </div>

  <script src="/js/newComment.js"></script>