<a href="/dashboard"><h1>Your Dashboard</h1></a>

<div class="inner-content">
  <h2>Create New Post</h2>
  <form class="create-post">
    <label>Title</label>
    <input type="title" id="post-title" placeholder="SQL Databases" />  
    <label>Content</label>
    <input type="content" id="post-content" placeholder="I have really loved learning how to manage data in a SQL database." />
    <button type="submit">Create</button>
  </form>
</div>

<script src="/js/createPost.js"></script>