<a href="/"><h1>Tech Blog</h1></a>

<div class="inner-content">
  {{> comments}}
  <form class="create-comment" data-id="{{id}}">
    <label>Comment</label>  
    <input type="comment" id="post-comment" placeholder="I have really loved learning how to manage data in a SQL database." />
    <button id="comment" type="submit" data-id="{{id}}">Submit</button>
  </form>
</div>

<script src="/js/createComment.js"></script>