<a href="/dashboard"><h1>Your Dashboard</h1></a>

<div class="inner-content">
  <h2>Edit Post</h2>
  <form class="edit-post" data-id="{{id}}">
    <label>Title</label>
    <input type="title" id="edit-post-title" placeholder="SQL Databases" value="{{title}}"/>  
    <label>Content</label>
    <input type="content" id="edit-post-content" placeholder="I have really loved learning how to manage data in a SQL database." value="{{contents}}" />
    <button type="submit">Update Post</button>
    <button id="delete" data-id="{{id}}">Delete</button>
  </form>
</div>

<script src="/js/editPost.js"></script>