<div>
    <form>
      <div>
        <label>Email</label>
        <div>
          <input type="email" id="email-login" placeholder="e.g. alex@example.com" />
        </div>
      </div>

      <div>
        <label>Password</label>
        <div>
          <input type="password" id="password-login" placeholder="********" />
        </div>
      </div>

      <button type="submit">Sign in</button>
    </form>
  </div>

  <script src="/js/login.js"></script>