  <div>
    <form class="login-form">
      <div>
        <label>Username</label>
        <div>
          <input type="username" id="username-login" placeholder="e.g. Lernantino" />
        </div>
      </div>

      <div>
        <label>Password</label>
        <div>
          <input type="password" id="password-login" placeholder="********" />
        </div>
      </div>

      <button type="submit">Login</button>
    </form>
  </div>

  <script src="/js/login.js"></script>