<div class="inner-content">
      <h2>Login</h2>
      <form class="login-form">
        <label>Username</label>
        <input type="username" id="username-login" placeholder="e.g. Lernantino" />  
        <label>Password</label>
        <input type="password" id="password-login" placeholder="********" />
        <button type="submit">Login</button>
        <a href="/signup">Sign up instead</a>
      </form>
    </div>

  <script src="/js/login.js"></script>