<div>
    <form>
      <div>
        <label>Name</label>
        <div>
          <input type="name" id="name-signup" placeholder="Who's golfing?" />
        </div>
      </div>

      <div class="field">
        <label>Email</label>
        <div>
          <input type="email" id="email-signup" placeholder="e.g. alex@example.com" />
        </div>
      </div>

      <div class="field">
        <label>Password</label>
        <div>
          <input type="password" id="password-signup" placeholder="********" />
        </div>
      </div>

      <button type="submit">Sign Up</button>
    </form>
  </div>

  <script src="/js/signup.js"></script>