<a href="/"><h1>The Tech Blog</h1></a>

<div class="inner-content">
  <h3>Sign Up</h3>
  <form class="signup-form">
    <label>Username</label>
    <input type="username" id="username-signup" placeholder="e.g. Lernantino" />  
    <label>Password</label>
    <input type="password" id="password-signup" placeholder="********" />
    <button type="submit">Sign Up</button>
    <a href="/login">Login instead</a>
  </form>
</div>

<script src="/js/signup.js"></script>