body {
    background-color: rgb(114, 114, 114);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: yellow;
}

nav, nav a  {
    color: aliceblue;
    font-size: 1.25rem;
    background-color: black;
    padding: 2px;
}

h1 {
    color: rgb(106 165 45);
    background-color: black;
    padding-left: 20px;
    padding-top: 15px;
    margin-top: 0;
}

h2 {
    color: coral;
    padding-left: 10px;
    margin: 0;
}

h3 {
    color: coral;
    margin: 0;
}

.inner-content {
    margin: 2%;
}

form {
    display: flex;
    flex-direction: column;
}

.new-post-button {
    width: 100%;
}

label, input, button {
    margin-top: 5px;
}

.blogpost-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: orange;
    background-color: #474747;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.dashboard-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: orange;
    background-color: #474747;
    border-radius: 4px;
}

.blogpost-contents {
    padding-left: 20px;
    margin-top: 0;
    color: #474747;
    background-color: whitesmoke;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.blogposts {
    display: flex;
    flex-direction: column;
}

.comment-contents {
    padding-left: 20px;
    margin-top: 0;
    color: #474747;
    background-color: whitesmoke;
    border-radius: 4px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}