body {
    background-color: rgb(44, 43, 43);
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    color: aliceblue;
    font-size: large;
}

h1 {
    color: rgb(51, 68, 33);
    font-size: larger;
}

h2 {
    color: coral;
    margin-bottom: 0;
}

.inner-content {
    margin: 2%;
}

form {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}