body {
    background-color: rgb(114, 114, 114);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: yellow;
}

nav, nav a  {
    color: aliceblue;
    font-size: 1.25rem;
    background-color: black;
    padding: 2px;
}

h1 {
    color: rgb(106 165 45);
    background-color: black;
    padding-left: 20px;
    padding-top: 15px;
    margin-top: 0;
}

h2 {
    color: coral;
    padding-left: 20px;
    margin: 0;
}

.inner-content {
    margin: 2%;
}

form {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

label, input, button {
    margin-top: 5px;
}

.blogpost-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: orange;
}

.blogpost-contents {
    margin-left: 20px;
    margin-top: 0;
}

.blogposts {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}